<div class="row h-100">
      <div class="col-1">
        <a class="btn btn btn-outline-primary" href="./homepage.html"><i class="btn-symbol" role="icon">&#x1F519;</i></a>
      </div>
      <div class="col d-flex flex-column">
        <div id="heading-area">
        </div>
        <div id="space" class="card-deck d-flex flex-row flex-grow-1">

        </div>

      </div>
    </div>