    <div class="row h-100 bg-dark whole-lr-container">
      <!-- put .border class back, orange is temporary to understand what I'm manipulating at the moment -->
      <div class="col-2 d-flex align-items-center left-container">

        <div class="btn-group-vertical d-flex flex-column nav-container" role="group">
          <div role="button" type="button" class="btn btn-lg btn-primary nav-home-half" onclick="newBlankPage()">
            <h4 style="font-size: 3vw;">New</h4>
            <i class="h2 btn-symbol" role="icon">&#x1F4C4;</i>
          </div>
          <div role="button" type="button" class="btn btn-lg btn-success disabled nav-home-half">
            <h4 style="font-size: 3vw;">New from Template</h4>
          </div>
        </div>

      </div>
      
      <div class="col">
        <div id="boards-menu" class="card-deck h-100 w-100 d-flex flex-wrap" style="display: flex; justify-content: space-around; align-items: center;">
{{#each boards as |board|}}

 <div class="card board-card m-1" data-id="{{board.id}}">
      <div style="display: flex; align-self: center; text-align: center; height: 20vh; width: 28vw; max-width: fit-content;">
        <img class="img-page-card card-img-top" style="height: 100%; width: 100%;" src="{{board.symbol.image_url}}">
      </div>
      <div class="card-footer" style="text-align: center;">
        <h5 class="card-title" style="font-size: 2.5vw;">
          {{board.title}}
        </h5>
      </div>
    </div>

{{/each}}
        </div>
      </div>
    </div>